[submodule "synced/personal-research/Cellular-Automata-and-Groups-Notes"]
	path = synced/personal-research/Cellular-Automata-and-Groups-Notes
	url = https://github.com/boofula/Cellular-Automata-and-Groups-Notes.git
[submodule "synced/classnotes/Representation-Theory-Final-Exam-Study-Guide"]
	path = synced/classnotes/Representation-Theory-Final-Exam-Study-Guide
	url = https://github.com/boofula/Representation-Theory-Final-Exam-Study-Guide.git
[submodule "synced/templates/Copilot-Rendered-Responses-Template"]
	path = synced/templates/Copilot-Rendered-Responses-Template
	url = https://github.com/boofula/Copilot-Rendered-Responses-Template.git
[submodule "synced/synced/templates/Homework-Template"]
	path = synced/synced/templates/Homework-Template
	url = https://github.com/boofula/Homework-Template.git
[submodule "synced/templates/Homework-Template"]
	path = synced/templates/Homework-Template
	url = https://github.com/boofula/Homework-Template.git
[submodule "synced/templates/Random-Document-Template"]
	path = synced/templates/Random-Document-Template
	url = https://github.com/boofula/Random-Document-Template.git
[submodule "synced/templates/Course_Number-Class_Name-Notes-Template-"]
	path = synced/templates/Course_Number-Class_Name-Notes-Template-
	url = https://github.com/boofula/Course_Number-Class_Name-Notes-Template-.git
[submodule "synced/templates/Test-and-Exam-Study-Guide-Template"]
	path = synced/templates/Test-and-Exam-Study-Guide-Template
	url = https://github.com/boofula/Test-and-Exam-Study-Guide-Template.git
[submodule "synced/homework/Loyola_MATH_465_Fall_2026/MATH_465_HW_1"]
	path = synced/homework/Loyola_MATH_465_Fall_2026/MATH_465_HW_1
	url = https://github.com/boofula/MATH_465_HW_1
[submodule "synced/homework/Loyola_MATH_454_Fall_2026/MATH_454_HW_1"]
	path = synced/homework/Loyola_MATH_454_Fall_2026/MATH_454_HW_1
	url = https://github.com/boofula/MATH_454_HW_1.git
